APP_NAME=DataAccessService
APP_ENV=dev
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=America/Denver
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

DB_FRED_HOST=
DB_FRED_PORT=
DB_FRED_DATABASE=
DB_FRED_USERNAME=
DB_FRED_PASSWORD=

DB_FINANCE_HOST=
DB_FINANCE_PORT=
DB_FINANCE_DATABASE=
DB_FINANCE_USERNAME=
DB_FINANCE_PASSWORD=

DB_SPILLMAN_HOST=
DB_SPILLMAN_PORT=
DB_SPILLMAN_DATABASE=
DB_SPILLMAN_USERNAME=
DB_SPILLMAN_PASSWORD=

DB_POWER_WAREHOUSE_HOST=
DB_POWER_WAREHOUSE_PORT=
DB_POWER_WAREHOUSE_DATABASE=
DB_POWER_WAREHOUSE_USERNAME=
DB_POWER_WAREHOUSE_PASSWORD=

DB_GOVAFFAIRS_HOST=
DB_GOVAFFAIRS_PORT=
DB_GOVAFFAIRS_DATABASE=
DB_GOVAFFAIRS_USERNAME=
DB_GOVAFFAIRS_PASSWORD=

DB_GOVTEXT_HOST=
DB_GOVTEXT_PORT=
DB_GOVTEXT_DATABASE=
DB_GOVTEXT_USERNAME=
DB_GOVTEXT_PASSWORD=

DB_POWER_HOST=
DB_POWER_PORT=
DB_POWER_DATABASE=
DB_POWER_USERNAME=
DB_POWER_PASSWORD=

DB_SPILLMAN_AUTOMATION_HOST=
DB_SPILLMAN_AUTOMATION_PORT=
DB_SPILLMAN_AUTOMATION_DATABASE=
DB_SPILLMAN_AUTOMATION_USERNAME=
DB_SPILLMAN_AUTOMATION_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

VITE_APP_NAME="${APP_NAME}"
